<ngx-gustavguez-page-header text="Input text"></ngx-gustavguez-page-header>

<section class="content">
	<div class="container-fluid">
		<form [formGroup]="form" (submit)="onSubmit()">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12 p-3">
					
					<ngx-gustavguez-input-text
						[form]="form"
						[label]="'Description:'"
						[placeholder]="'Enter description'"
						[controlName]="'description'"
						[controlId]="'description'"
						[requiredErrorText]="'This field is required.'"></ngx-gustavguez-input-text>	

					<ngx-gustavguez-submit
						[text]="'Send form'"></ngx-gustavguez-submit>

				</div>
			</div>
		</form>
	</div>
</section>